<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.macsen.article.mapper.TagMapper">

    <select id="findByArticleId" resultType="Tag">
        SELECT * FROM tags WHERE article_id = #{articleId}
    </select>

    <select id="findTop10" resultType="Tag">
        SELECT * FROM tags ORDER BY count DESC LIMIT 10
    </select>
</mapper>
